<div class="mt-5 mb-2">
  <h1 class="display-3 fw-bold ls-4">Countdown</h1>
</div>

<%# Show letters %>
<div class="row">
  <div class="col-12">
    <%= image_tag "prettygirl.png", class: "img-fluid img-md text-center mb-4"%>

    <div class="card-letters flex-center flex-wrap">
      <% @letters.each do |letter| %>
        <div class="card-letter flex-center rounded text-kanit fs-1 m-2">
        <%= letter %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# End show letters %>

<%# Rules %>
<div class="row my-4">
  <div class="col-12">
    <p class="fs-5">You have to enter <strong>the longest english word</strong> you can find using only letters in the grid.</p>
  </div>
</div>
<%# End Rules %>

<%# Form %>
<div class="row my-5">
  <div class="col-12">
    <form action="/score" method="post" data-turbo="false" class="form-row">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%# La siguiente linea crea una nueva key en el params y asi podemos acceder a su value %>
      <%= hidden_field_tag :letters, @letters %>
      <%= hidden_field_tag :time, @time %>

      <div class="col-12 px-5 d-flex justify-content-center">
        <input type="text" name="word" placeholder="Enter your longest word!" autocomplete="off" class="shadow-none bg-light fs-4 p-2 px-5 w-50 form-control border-0 rounded-end rounded-pill">
        <button type="submit" class="shadow-none btn btn-light rounded-start rounded-pill fs-4 px-4"><i class="text-petunia fa-solid fa-paper-plane"></i></button>
      </div>
    </form>
  </div>
</div>
<%# End Form %>
